<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div id="vidtop-content">
<div class="container">
 <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <!--<div class="col-xs-10 col-xs-offset-1">
          <nz-input [nzType]="'text'" [nzPlaceHolder]="'Enter your userName'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <nz-input [nzType]="'password'" [nzPlaceHolder]="'Enter your password'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
      </div>-->
    <div class="col-xs-10 col-xs-offset-1">
          <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
            <div nz-form-item>
              <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
                <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
                  <ng-template #prefix>
                    <i class="anticon anticon-user"></i>
                  </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</div>
              </div>
            </div>
            <div nz-form-item>
              <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
                <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
                  <ng-template #prefix>
                    <i class="anticon anticon-lock"></i>
                  </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
              </div>
            </div>
            <div nz-form-item>
              <div nz-form-control>
                <label nz-checkbox formControlName="remember">
                  <span>Remember me</span>
                </label>
                <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Log in</button>
                Or
                <a data-toggle="pill" href="#menu1">register now!</a>
              </div>
            </div>
          </form>
    </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
</div>


