<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

<div id="vidtop-content">
<div class="container">
 <ul class="nav nav-pills">
    <li class="active text-center"><a data-toggle="pill" href="#home" (click)="test()">Login</a></li>
    <li class="text-center"><a data-toggle="pill" href="#menu1">Register</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      
      <!--<div class="col-xs-10 col-xs-offset-1">
          <nz-input [nzType]="'text'" [nzPlaceHolder]="'Enter your email'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <nz-input [nzType]="'password'" [nzPlaceHolder]="'Enter your password'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
      </div>-->
    <div class="col-xs-12">
          <h3 class="text-center">Login</h3>
          <form nz-form [formGroup]="validateFormLogin" class="login-form" (ngSubmit)="login()">
            <div nz-form-item>
              <div nz-form-control [nzValidateStatus]="validateFormLogin.controls.email">
                <nz-input formControlName="email" [nzPlaceHolder]="'Email'" [nzSize]="'large'">
                  <ng-template #prefix>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                  </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateFormLogin.controls.email.dirty&&validateFormLogin.controls.email.hasError('required')">Please input your email!</div>
              </div>
            </div>
            <div nz-form-item>
              <div nz-form-control [nzValidateStatus]="validateFormLogin.controls.password">
                <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
                  <ng-template #prefix>
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateFormLogin.controls.password.dirty&&validateFormLogin.controls.password.hasError('required')">Please input your Password!</div>
              </div>
            </div>
            <div nz-form-item>
              <div nz-form-control>
                <label nz-checkbox formControlName="remember">
                  <span>Remember me</span>
                </label>
                <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Log in</button>
                <!--Or
                <a data-toggle="pill" href="#menu1">register now!</a>-->
              </div>
            </div>
          </form>
          <hr/>
          <div>
                <button class="btn btn-google" (click)="googleLogin()"><i class="fa fa-google" aria-hidden="true"></i>oogle</button>
          </div>
    </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="col-xs-12">
        <h3 class="text-center">Register</h3>
        <form nz-form [formGroup]="validateFormRegister" (ngSubmit)="register()">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="7" [nzXs]="7">
                <label for="email" nz-form-item-required>E-mail</label>
              </div>
              <div nz-form-control nz-col [nzSm]="17" [nzXs]="17" [nzValidateStatus]="getFormControl('email')">
                <nz-input [nzSize]="'large'" formControlName="email" [nzId]="'email'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="7" [nzXs]="7">
                <label for="password" nz-form-item-required>Password</label>
              </div>
              <div nz-form-control nz-col [nzSm]="17" [nzXs]="17"  [nzValidateStatus]="getFormControl('password')">
                <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'" [nzId]="'password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">Please input your password!</div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="7" [nzXs]="7">
                <label for="checkPassword" nz-form-item-required>Confirm</label>
              </div>
              <div nz-form-control nz-col [nzSm]="17" [nzXs]="17"  [nzValidateStatus]="getFormControl('checkPassword')">
                <nz-input [nzSize]="'large'" formControlName="checkPassword" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('required')">Please confirm your password!</div>
                <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('confirm')">Two passwords that you enter is inconsistent!</div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSm]="7" [nzXs]="7">
                  <label for="nickname" nz-form-item-required>Nickname</label>
              </div>
              <div nz-form-control nz-col [nzSm]="17" [nzXs]="17"  [nzValidateStatus]="getFormControl('nickname')">
                <nz-input [nzSize]="'large'" formControlName="nickname" [nzId]="'nickname'"></nz-input>
                <div nz-form-explain *ngIf="getFormControl('nickname').dirty&&getFormControl('nickname').hasError('required')">Please input your nickname!</div>
              </div>
            </div>
            <div nz-form-item>
              <div nz-form-control>
                  <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Register</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
</div>


