<div class="container">
  <h1>About Me!</h1>
  <div class="row">
    <div class="col-sm-3" style="">
          <img src="/assets/img/green-bg.jpg" class="img-thumbnail" alt="Cinque Terre" width="auto" height="auto">
          <h4 class="text-center">Richard Yu</h4>
          <p>I have one-year web development experience. Now I am looking for a full-time web development job. I will graduate soon.</p>
          <hr>
          <div>
             <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <p class="myinfo">Vancouver </p>
          </div>
          <div>
             <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> <p class="myinfo">Richardyych@gmail.com </p>
          </div>
          <div>
            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i> <p class="myinfo">+1 604-719-5215 </p>
          </div>
          <div>
            <i class="fa fa-link fa-2x" aria-hidden="true"></i> <p class="myinfo"><a href="http://richardyych.cc/">http://richardyych.cc/ </a></p>
          </div>
          <div>
            <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i> <p class="myinfo"><a href="https://github.com/yulangchao">https://github.com/yulangchao </a></p>
          </div>

    </div>
    <div class="col-sm-9" style="">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Skills</a></li>
          <li><a data-toggle="tab" href="#menu1">Angular App</a></li>
          <li><a data-toggle="tab" href="#menu2">Vue App</a></li>
          <li><a data-toggle="tab" href="#menu3">PHP App</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>My Skills</h3>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Angular(Main Skill)</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                         <h4>Front-End</h4>
                          <ul>
                            <li>Angular2+,Angularjs</li>
                            <li>TypeScript</li>
                            <li>Jquery</li>
                            <li>Gulp</li>
                          </ul>
                         <h4>Back-End</h4>
                          <ul>
                            <li>Java,Hibernate,Jdbc,RestAPI, Oracle DB, Procedure</li>
                            <li>Nodejs,Express,Socketio, RestAPI, Mongoose, MongoDB</li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">VUE</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                         <h4>Front-End</h4>
                          <ul>
                            <li>Vue 2.0</li>
                            <li>JavaScript</li>
                            <li>Jquery</li>
                            <li>Webpack</li>
                          </ul>
                         <h4>Back-End</h4>
                          Same as Angular.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">PHP</a>
                    </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                         <h4>CakePHP</h4>
                          <ul>
                            <li>Mysql</li>
                            <li>CakePHP</li>
                            <li>Jquery</li>
                            <li>JavaScript</li>
                          </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Others</a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                          <h4>Languages</h4>
                          <ul>
                            <li>C/C++</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Go</li>
                          </ul>
                          <h4>Others</h4>
                          <ul>
                            <li>Wordpress</li>
                            <li>Django</li>
                            <li>WebGL</li>
                            <li>OpenGL</li>
                          </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Angular (WareHouse System with the chatting function)</h3>
            Link: <a href="http://richardyych.cc/">Current Page</a>
            <h4>Functions</h4>
            <ul>
                <li>Product Management</li>
                <li>Import Product</li>
                <li>Export Product</li>
                <li>Summary</li>
                <li>Chat(many rooms, real time)</li>
                <li>Authentication (many users)</li>
            </ul>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Social App</h3>
            Link: <a href="http://richardyych.cc:8020/">Vue2.0</a>
            <h4>Functions</h4>
            <ul>
                <li>Add new post</li>
                <li>Upload with images</li>
                <li>Share your posts</li>
                <li>Classify posts</li>
                <li>Authentication</li>
            </ul>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Course System</h3>
            Link: In progress
            <h4>Functions</h4>
            <ul>
                <li>Couses learning (pdf.js)</li>
                <li>Quiz</li>
                <li>Payment</li>
                <li>Authentication</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
